body {
    scroll-margin-block-end: auto;
    width: 70%;
    padding: 130px;
    height: 10px;
    background-color: rgb(191, 197, 197);
  }

.timeshow{
    width: 80ch;
    line-height: 3ch;
    border-color: rgb(230, 63, 71);
}


.inp1 input{
    width: 80ch;
    line-height: 3ch;
    border-color: rgb(191, 223, 6);

}  

.fcontain{
    display: flex;
}

.tabledata{
    width: 100%;
    border-top: 2.5px solid rgb(204, 58, 58);
    text-align: center;
}

.tableraw{
margin-top: auto;
}

.rowline{
    padding-left: 10px;
    color: rgb(0, 26, 255);
}
/* 
/* const t11 = new Date()
const t1 = t11.getHours()
const t2 = t11.getMinutes()
const t3 = t11.getSeconds()
let timeinput = t1+":"+t2+":"+t3
// console.log(timeinput)

// let addtaskbtn = document.getElementById('addtaskbtn'); 


showtask();
let addtaskinput = document.getElementById('addtaskinput'); 

function addtaskbtn(){
// addtaskbtn.addEventListener("click", function(){

addtaskinputval = document.getElementById('addtaskinput').value;
let webtask = localStorage.getItem("localtask")

const objdata = {
    TaskName : addtaskinputval,
    Time : timeinput
}

if(webtask==null){
    localStorage.setItem('localtask','[]');
}

let taskobj = JSON.parse(webtask)
taskobj.push(objdata);
localStorage.setItem('localtask',JSON.stringify(taskobj))
objdata.value = ''
window.location.reload()

showtask();
};
 

/* Show-Data in Table */
/* function showtask(){
    let webtask = localStorage.getItem("localtask");
    let taskobj = JSON.parse(webtask);
    let html = ''; 
  
    let addedtasklist = document.getElementById("addedtasklist");
    taskobj.forEach((item, index) => {
        html += `<tr class="tableraw">
        <th scope="row" class="rowline">${index+1}</th>
                    <td >${item.TaskName}</td>
                    <td><button type="button" 
                    onclick="edittask(${index})">Edit</button></td>
                    <td><button type="button" onclick="deletedata(${index})">Delete</button></td>
                    </tr>`;
                    

    }); 
                    
    addedtasklist.innerHTML = html;
     
}
 */

/* Click Edit to Select data in indexing and get text field */
/* function edittask(index){
    let saveindex = document.getElementById("saveindex");
    let addtaskbtn = document.getElementById("addtaskbtn");
    let savetaskbtn = document.getElementById("savetaskbtn");
    let webtask = localStorage.getItem("localtask");
    let taskobj = JSON.parse(webtask);
    addtaskinput.value = taskobj[index];
    addtaskbtn.style.display = "none";
    savetaskbtn.style.display = "block";
    saveindex.value = index;
} */

/* Save Edited and Update new data in table*/

/* let savetaskbtn = document.getElementById("savetaskbtn");
savetaskbtn.addEventListener("click", function(){
    let addtaskbtn = document.getElementById("addtaskbtn");
    let  webtask = localStorage.getItem("localtask");
    let saveindex = document.getElementById("saveindex").value;
    let taskobj = JSON.parse(webtask);
   taskobj[saveindex] = addtaskinput.value;
   savetaskbtn.style.display = 'none';
   addtaskbtn.style.display = 'block';
   localStorage.setItem('localtask',JSON.stringify(taskobj));
   addtaskinput.value = ''
   showtask();
}); 


function deletedata(index){
    let  webtask = localStorage.getItem("localtask");
    let taskobj = JSON.parse(webtask);
    taskobj.splice(index,1);
    localStorage.setItem('localtask',JSON.stringify(taskobj));
    showtask();
} */  
 
 
 
/* 
    // addtaskinputval = document.getElementById('addtaskinput').value;
        // if(addtaskinputval.trim()!=0){      /* Remove empty data save in L.S */
        /* //     let webtask = localStorage.getItem("localtask")
            
        //     if(webtask == null){
                
        //         taskobj = [];
        //     }
        //     else{
        //         taskobj = JSON.parse(webtask);
                
        //     }
        //     taskobj.push(addtaskinputval);
        //     localStorage.setItem('localtask',JSON.stringify(taskobj));
        //     addtaskinput.value = ''           /* Clear text on click */
        /* //     window.location.reload()    /* Auto reload browser page */
        /* // } */